
.key-color-default {
  background-color: #818384;
}

.key-color-wrong {
  background-color: #3a3a3c;
}

.key-color-almost-correct {
  background-color: #b59f3b;
}

.key-color-correct {
  background-color: #538d4e;
}


