.counter-container {
  text-align: center;
}

.counter-input {
  border: none;
  color: white;
  text-align: center;
  width: 5%;
  font-size: 18px;
}

.counter-icon {
    cursor: pointer;
}

input:disabled {
  background-color: transparent;
}
