<app-navbar></app-navbar>
<div class="box" *ngIf="!isMobileDevice">
  <img class="profile" src="assets/user-profiles/{{username}}.png"
       onerror="this.src='assets/user-profiles/default.png'" />
  <div class="name">
    <h1 class="user-info title">{{displayName}}</h1>
  </div>
  <div class="line"></div>

  <!-- Daily Game Mode Stats-->
  <div class="mode daily" (click)="toggleDaily()">
    <div id="info">
      <h1 class="stat-t">Daily</h1>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Games Played: {{dailyGames}}</h2>
      <h2 class="stats">Current Streak: {{dailyStreak}}</h2>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Best Streak: {{dailyBest}}</h2>
      <h2 class="stats">Win Rate: {{dailyWin}}%</h2>
    </div>
    <div id="dropdown">
      <fa-icon class="angle" *ngIf="!dailyDrop" [icon]="faAngleDown"></fa-icon>
      <fa-icon class="angle" *ngIf="dailyDrop" [icon]="faAngleUp"></fa-icon>
    </div>
  </div>
  <div class="history" *ngIf="dailyDrop" [@slideInOut]>
    <table *ngIf="dailyTB" id="dailyTable">
      <tr>
        <th><b>Word</b></th>
        <th><b>Attempts</b></th>
        <th><b>Success</b></th>
        <th><b>Difficulty</b></th>
      </tr>
      <tbody>
        <tr *ngFor="let data of dailyData">
          <td>{{data.word}}</td>
          <td>{{data.attempts}}</td>
          <td>{{data.success}}</td>
          <td>{{data.difficulty}}</td>
        </tr>
      </tbody>
    </table>
    <p class="h-text" *ngIf="!dailyTB" id="dailyNoData" style="text-align:center">No history available</p>
  </div>

  <!-- Unlimited Game Mode Stats-->
  <div class="mode unlimited" (click)="toggleUnlimited()">
    <div id="info">
      <h1 class="stat-t">Unlimited</h1>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Games Played: {{unlimitedGames}}</h2>
      <h2 class="stats">Current Streak: {{unlimitedStreak}}</h2>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Best Streak: {{unlimitedBest}}</h2>
      <h2 class="stats">Win Rate: {{unlimitedWin}}%</h2>
    </div>
    <div id="dropdown">
      <fa-icon class="angle" *ngIf="!unlimitedDrop" [icon]="faAngleDown"></fa-icon>
      <fa-icon class="angle" *ngIf="unlimitedDrop" [icon]="faAngleUp"></fa-icon>
    </div>
  </div>
  <div class="history" *ngIf="unlimitedDrop" [@slideInOut]>
    <table *ngIf="unlimitedTB" id="unlimitedTable">
      <tr>
        <th><b>Word</b></th>
        <th><b>Attempts</b></th>
        <th><b>Success</b></th>
        <th><b>Difficulty</b></th>
      </tr>
      <tbody>
        <tr *ngFor="let data of unlimitedData">
          <td>{{data.word}}</td>
          <td>{{data.attempts}}</td>
          <td>{{data.success}}</td>
          <td>{{data.difficulty}}</td>
        </tr>
      </tbody>
    </table>
    <p class="h-text" *ngIf="!unlimitedTB" id="unlimitedNoData" style="text-align:center">No history available</p>
  </div>

  <!-- Timed Game Mode Stats-->
  <div class="mode timed" (click)="toggleTimed()">
    <div id="info">
      <h1 class="stat-t">Timed</h1>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Games Played: {{timedGames}}</h2>
      <h2 class="stats">Current Streak: {{timedStreak}}</h2>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Best Streak: {{timedBest}}</h2>
      <h2 class="stats">Win Rate: {{timedWin}}%</h2>
    </div>
    <div id="dropdown">
      <fa-icon class="angle" *ngIf="!timedDrop" [icon]="faAngleDown"></fa-icon>
      <fa-icon class="angle" *ngIf="timedDrop" [icon]="faAngleUp"></fa-icon>
    </div>
  </div>
  <div class="history" *ngIf="timedDrop" [@slideInOut]>
    <table *ngIf="timedTB" id="timedTable">
      <tr>
        <th><b>Word</b></th>
        <th><b>Attempts</b></th>
        <th><b>Success</b></th>
        <th><b>Time (s)</b></th>
        <th><b>Difficulty</b></th>
      </tr>
      <tbody>
        <tr *ngFor="let data of timedData">
          <td>{{data.word}}</td>
          <td>{{data.attempts}}</td>
          <td>{{data.success}}</td>
          <td>{{data.time}}</td>
          <td>{{data.difficulty}}</td>
        </tr>
      </tbody>
    </table>
    <p class="h-text" *ngIf="!timedTB" id="timedNoData" style="text-align:center">No history available</p>
  </div>

  <!-- Blitz Game Mode Stats-->
  <div class="mode blitz" (click)="toggleBlitz()">
    <div id="info">
      <h1 class="stat-t">Blitz</h1>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Games Played: {{blitzGames}}</h2>
      <h2 class="stats">Avg Words: {{blitzAvg}}</h2>
    </div>
    <div id="info">
      <h2 class="stats text-pad">Words Per Min: {{blitzMin}}</h2>
      <h2 class="stats">Total time: {{blitzTime}}</h2>
    </div>
    <div id="dropdown">
      <fa-icon class="angle" *ngIf="!blitzDrop" [icon]="faAngleDown"></fa-icon>
      <fa-icon class="angle" *ngIf="blitzDrop" [icon]="faAngleUp"></fa-icon>
    </div>
  </div>
  <div class="history" *ngIf="blitzDrop" [@slideInOut]>
    <table *ngIf="blitzTB" id="blitzTable">
      <tr>
        <th><b>Words</b></th>
        <th><b>Word Count</b></th>
        <th><b>Time (s)</b></th>
        <th><b>Difficulty</b></th>
      </tr>
      <tbody>
        <tr *ngFor="let data of blitzData">
          <td>{{data.words}}</td>
          <td>{{data.word_count}}</td>
          <td>{{data.time}}</td>
          <td>{{data.difficulty}}</td>
        </tr>
      </tbody>
    </table>
    <p class="h-text" *ngIf="!blitzTB" id="blitzNoData" style="text-align:center">No history available</p>
  </div>
</div>

<div *ngIf="isMobileDevice">
  <img class="m-img" src="assets/user-profiles/{{username}}.png"
       onerror="this.src='assets/user-profiles/default.png'" />
  <h1 class="m-text">{{displayName}}</h1>
  <div class="m-line"></div>
  <div class="m-mode daily">
    <h1 class="m-text">Daily</h1>
  </div>
  <div class="m-mode unlimited">
    <h1 class="m-text">Unlimited</h1>
  </div>
  <div class="m-mode timed">
    <h1 class="m-text">Timed</h1>
  </div>
  <div class="m-mode blitz">
    <h1 class="m-text">Blitz</h1>
  </div>
</div>
© 2022 GitHub, Inc.
Terms
Privacy
Security
