.settings-menu-container {
    color: white;
}

.setting-section {
    margin: 0 auto;
    width: 50%;
}

.setting-container {
    margin: 0 auto;
}

.input-setting-title {
    color: grey;
    margin: 1.5em 0 0.5rem 0;
}
.input-setting-description {
  color: #595959;
  margin: -1em 0 0.5rem 0;
  font-size: 12px;
}

.setting-section-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.setting-section-title::before, .setting-section-title::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.setting-section-title span {
  margin: 0 0.5em;
}

.settings-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.settings-button-group button {
  border-radius: 50px;
  margin: 0 5px;
  width: 80px;
  border-color: #888585;
  font-weight: bold;
  padding: 3px 3px 5px 3px;
  font-size: 14px;
}

.easy-difficulty-button {
  background-color: #002800;
  /*background-color: green*/
}

.medium-difficulty-button {
  background-color: #db6b08;
  /*background-color: #ecb617;*/
}

.hard-difficulty-button {
  background-color: #8c0000;
  /*background-color: #bb1515;*/
}

.selected-button {
  color: #fff;
  border-color: #565e64;
  box-shadow: 0 0 0 .25rem rgba(130,138,145,.5);
}

.game-mode-buttons {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.unlimited-game-mode-button {
  background-color: #002800;
}

.timed-game-mode-button {
  background-color: #db6b08;
}

.blitz-game-mode-button {
  background-color: #8c0000;
}

.color-picker-buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.color-picker-button {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.image-url-input {
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 8px;
  color: white;
  background-color: #828282;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
