<button style="padding: 10px"
        type="button"
        class="btn btn-primary"
        (click)="openPopup()">
  Show Data
</button> 
<div @toggleSettings
     class="modal"
     id="settings-container"
     tabindex="-1"
     role="dialog"
     *ngIf="isDisplaySettings">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <p>One Stop Solution for all CS problems</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
        <button type="button" class="btn btn-primary"
                (click)="closePopup()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
