<div @toggleSettings
     class="modal"
     id="settings-container"
     tabindex="-1"
     role="dialog"
     *ngIf="isDisplaySettings">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" [ngStyle]="{'max-height': maxHeight + 'px'}">
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <app-settings-content [isSaved]="isSaved" (isSavedEmitter)="closePopup()"></app-settings-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
        <button type="button" class="btn btn-primary"
                (click)="saveChanges()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
