#settings-container {
   display: block;
}

.modal-title {
  font-weight: bold;
}

.modal-content {
  background-color: #121213;
  color: white;
  opacity: 0.85;
}

.modal-body {
    overflow-y: scroll;
}
