#profileDropdownToggle {
  /* background-color: white; */
  color: white;
  border-radius: 30px;
  /* border: 1px solid black; */
  padding: 6px 18px 11px 18px;
  background-color: rgb(24, 26, 27);
  border: 1px solid rgb(140, 130, 115);
}

#profileDropdownMenu {
  width: 300px;
  margin-top: 12px !important;
  border-radius: 30px;
}

.dropdown-toggle::before {
  display: none;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.225em;
}

.word {
  font-family: candara;
  font-size: 1.2rem;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #292b2c;
  color: white;
  outline-color: transparent !important;
}

.word:hover {
  color: black !important;
  background-color: white;
}
