<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="game">Game</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0 w-margin">
    <a style="font-family:Garamond;font-size:33px" class="navbar-brand mx-auto" href="#">Werdle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="showLogin">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="showRegister">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
