.navbar-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  font-family: Garamond;
  font-size: 33px;
  color: white;
}

.show > ul {
   margin-top: 20px;
}

.w-navbar {
  margin: 0;
  padding-left: 1rem;
}

.w-nav-item {
  margin: 0 1rem;
}

.w-nav-item a {
  color: white;
  border-radius: 5px;
  padding: 5px 10px 8px 10px;
}

.nav-word:hover {
  color: black !important;
  background-color: white;
}

.nav-word {
  font-family: candara;
  font-size: 1.2rem;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
