<div>
  <form class="px-4 py-2">
    <div class="mb-3" [@revealUsernameField]="isRegisterMode ? 'reveal' : 'hide'">
      <label class="input-label" for="usernameField">Username</label>
      <input type="email" class="form-control" id="usernameField" placeholder="Enter username" autocomplete="username">
    </div>
    <div class="mb-3">
      <label class="input-label"  for="usernameEmailAddressField">{{isRegisterMode ? "Email Address:" : "Username/Email Address"}}</label>
      <input type="email" class="form-control" id="usernameEmailAddressField" [placeholder]="isRegisterMode ? 'Enter email address' : 'Enter username/email'" autocomplete="username">
    </div>
    <div class="mb-3">
      <label class="input-label"  for="passwordField">Password</label>
      <input type="password" class="form-control" id="passwordField" placeholder="Password" autocomplete="current-password">
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">{{isRegisterMode ? "Sign Up" : "Sign In"}}</button>
  </form>
  <div class="dropdown-divider"></div>
  <button id="showRegisterButton" #showRegisterButton ngbDropdownItem (click)="toggleRegisterMode()">{{isRegisterMode ? "Login" : "Register"}}</button>
</div>
