<div>
  <form class="px-4 py-3">
    <div class="mb-3" [@revealUsernameField]="isRegisterMode ? 'reveal' : 'hide'">
      <label for="exampleDropdownFormEmail1">Username</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Enter username" autocomplete="username">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormEmail1">{{isRegisterMode ? "Email Address:" : "Username/Email Address"}}</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" [placeholder]="isRegisterMode ? 'Enter email address' : 'Enter username/email'" autocomplete="username">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" autocomplete="current-password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck">
      <label class="form-check-label" for="dropdownCheck">
        Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <button id="showRegisterButton" #showRegisterButton ngbDropdownItem (click)="toggleRegisterMode()">{{isRegisterMode ? "Login" : "Register"}}</button>
</div>
