<div id="game-menu-container" class="container">
  <div id="GAME_STATUS">
    <div class="row">
      <div class="row game-container">
        <div class="game-info-title text-center">Game Status</div>
        <div class="game-info-text-content text-center">{{gameStatus}}</div>
      </div>
    </div>
  </div>

  <div id="CURR_WORD">
    <div class="row">
      <div class="row game-container">
        <div class="game-info-title text-center">Current Word</div>
        <div class="game-info-text-content text-center">{{currWord}}</div>
      </div>
      <div class="row game-container">
        <div class="game-info-title text-center">Current Word Definition</div>
        <div class="game-info-text-content text-center">{{currDefinition}}</div>
      </div>
    </div>
  </div>

  <div id="CURR_WORD">
    <div class="row">
      <div class="row game-container">
        <div class="game-info-title text-center">Last Word</div>
        <div class="game-info-text-content text-center">{{lastWord}}</div>
      </div>
      <div class="row game-container">
        <div class="game-info-title text-center">Last Word Definition</div>
        <div class="game-info-text-content text-center">{{lastDefinition}}</div>
      </div>
    </div>
  </div>

</div>
