<app-settings-container [isDisplaySettings]="isDisplaySettings" (displaySettingsEmitter)="displaySettings($event)"></app-settings-container>
<app-game-info-container [isDisplayGameInfo]="isDisplayGameInfo" (displayGameInfoEmitter)="displayGameInfo($event)"></app-game-info-container>
<div class="game-page-container" [ngClass]="{'blur-page': isBlurPage}" [ngStyle]="{'background' : backgroundValue, 'height': screenHeight + 'px'}">
  <app-navbar [showLogin]="true" (displaySettingsEmitter)="displaySettings($event)" (displayGameInfoEmitter)="displayGameInfo($event)"></app-navbar>
  <app-board-container></app-board-container>
</div>
